@import '../../styles/common-variables.css';

.holder {
    text-align: center;
    padding-top: 20px;
}

.form {
    padding: 20px;
    border: 1px solid #ebebeb;
    display: inline-block;
    width: 300px;
    text-align: right;
}
.row {
    margin-bottom: 10px;
}

.input {
    display: inline-block;
    width: 200px;
    height: 35px;
    padding: 5px;
    font-size: 12px;
}

.label {
    display: inline-block;
    width: 80px;
    height: 35px;
    vertical-align: baseline;
    text-align: left;
}

.disabled {
    color: #c5c5c5;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.submit-holder {
    text-align: center;
}

.submit {
    margin-top: 30px;
    width: 200px;
    height: 35px;
    background-color: var(--login-button-bg-color);
}