* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
#root {
    height: 100%;
}
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.wrapper {
    flex: 1 0 auto;
}
.content {
    padding: 10px;
}
.footer {
    flex: 0 0 auto;
}

.breadcrumb {
    display: inline-block;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item > a {
    text-decoration: none;
}

.breadcrumb-item.active {
    border-bottom: 1px solid #A3C644;
}

.breadcrumb-item:after {
    content: '>';
    margin: 0 4px;
}

.breadcrumb-item:last-child:after {
    content: '';
    margin: 0;
}